<!--<form class="ui stacked segment form" action="/member/{{member.id}}/addassessment" method="POST">-->
<form class="ui stacked segment form" action="/dashboard/addassessment" method="POST">
  <div class="field">
      <div class="three fields">
          <div class="field">
              <label>Weight</label>
              <div class="ui right labeled input">
                  <input type="number" placeholder="00.00" step="0.1"  min="0" max="250" name="weight">
                  <div class="ui basic label">
                      kg
                  </div>
              </div>
          </div>
          <div class="field">
              <label>Chest</label>
              <div class="ui right labeled input">
                  <input type="number" placeholder="00.00" step="0.1" min="0" max="250"  name="chest">
                  <div class="ui basic label">
                      cm
                  </div>
              </div>
          </div>
          <div class="field">
              <label>Thigh</label>
              <div class="ui right labeled input">
                  <input type="number" placeholder="00.00"  step="0.1" min="0" max="250"  name="thigh">
                  <div class="ui basic label">
                      cm
                  </div>
              </div>
          </div>
      </div>
      <div class="three fields">
          <div class="field">
              <label>Upper Arm</label>
              <div class="ui right labeled input">
                  <input type="number" placeholder="00.00" step="0.1" min="0" max="250" name="upperArm">
                  <div class="ui basic label">
                      cm
                  </div>
              </div>
          </div>
          <div class="field">
              <label>Waist</label>
              <div class="ui right labeled input">
                  <input type="number" placeholder="00.00" step="0.1" min="0" max="250" name="waist">
                  <div class="ui basic label">
                      cm
                  </div>
              </div>
          </div>
          <div class="field">
              <label>Hips</label>
              <div class="ui right labeled input">
                  <input type="number" placeholder="00.00" step="0.1" min="0" max="250"  name="hips">
                  <div class="ui basic label">
                      cm
                  </div>
              </div>
          </div>
      </div>
      <div class="ui basic segment">
          <button class="ui blue submit button">Add Assessment</button>
      </div>
  </div>
</form>