<section class="ui segment">
  <div class="ui four small statistics">
    <div class="ui statistic">
      <div class="value">
        <i class="user icon"></i>
      </div>
      <div class="label">
        {{this.name}}
      </div>
    </div>
    <div class="ui statistic">
      <div class="value">
      
      </div>
      <div class="label">
        Ideal Weight Indicator
      </div>
    </div>
    <div class="ui statistic">
      <div class="value">
        <i class="heartbeat icon"></i>
      </div>
      <div class="label">
        BMI
      </div>
    </div>
    <div class="ui statistic">
      <div class="value">
        <i class="doctor icon"></i>
      </div>
      <div class="label">
      
      </div>
    </div>
  </div>
</section>