<section class="ui segment">
  <div class="ui three small statistics">
    <div class="ui statistic">
      <div class="value">
         {{#if idealBodyWeight}}
            <i class="green dashboard icon"></i>
        {{else}}
          <i class="red dashboard icon"></i>
        {{/if}}
      </div>
      <div class="label">
        Ideal Weight Indicator
      </div>
    </div>
    <div class="ui statistic">
      <div class="value">
        <i class="heartbeat icon">BMI</i>
      </div>
      <div class="label">
        {{BMI}}
      </div>
    </div>
    <div class="ui yellow statistic">
      <div class="value">
        <i class="doctor icon"></i>
      </div>
      <div class="label">
        {{bmiCategory}}
      </div>
    </div>
  </div>
</section>