<table class="ui fixed table">
  <thead>
      {{>assessment-header}}
  </thead>
  <tbody>
  
      {{> assessment-row-comment}}
  </tbody>
</table>
<form class="ui secondary inverted charcoal segment form" action="/trainerdashboard/{{userid}}/updatecomment/{{id}}" method="POST">
    <div class="field">
      <label>Comment</label>
      <input placeholder="Insert Comment Here" type="text" name="comment"> </input>
    </div>
    <button class="ui blue submit button">Add Comment</button>
</form>
