<table class="ui single line table">
    <thead>
        {{>assessment-header}}
    </thead>
      <tbody>
        {{#each assessments}}
            {{> assessment-row-with-delete}}
        {{/each}}
    </tbody>
</table>