<table class="ui fixed table">
    <thead>
        {{>assessment-header}}
    </thead>
    <tbody>
    {{#each assessments}}
        {{> assessment-row-with-delete}}
    {{/each}}
    </tbody>
</table>