<nav class="ui menu">
  <header class="ui header item"> <a href="#"> Gym BMI Tracker </header>
  <div class="right menu">
    <a id="dashboard" class="item" href="/trainerdashboard">Trainer Dashboard  </a>
    <a id="about" class="item" href="/about"> About </a>
    <div class="right menu">
      <div class="ui dropdown item">
        <i class="user icon"></i>
        <div class="menu">
          <a class="item" href="/settings">Settings</a>
          <a class="item" href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>
<script>
  $("#{{id}}").addClass("active item");
  $('.ui.dropdown').dropdown();
</script>
