<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> {{title}} </title>
    <link rel="icon" type="image/x-icon" href="https://cdn.glitch.com/4d764618-36ee-4372-84ad-e72b20213749%2Ficons8-exercise-96.png?v=1598129718566">
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.js"></script>
  </head>
  <body>
    <section class="ui container">
      {{{body}}}
    </section>
  </body>
  <script>
      $('.ui.dropdown').dropdown();
  </script>
</html>
