{{> menu id="dashboard"}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    <div class="ui yellow statistic">
      <div class="value">
        <i class="user icon"></i>
      </div>
      <div class="label">
        {{member.fullname}}'s {{title}}
      </div>
    </div>    
  </h2>
    {{> analytics}}
    {{> assessment-table}}
    {{> addassessment}}
</section>
