{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <h3 class="ui orange header">
    <p> Sign up or Log in... </p>
  </h3>
</section>

<segment class="ui center aligned middle aligned two column grid segment">
  <div class="column">
    <header class="ui header"> BMI Tracker </header>
    <p> Fill in your assessments week by week and track your BMI.
      Trainers will comment on your progress and encourage your to keep going!</p>
  </div>
  <div class="column">
    <img class="ui image" src="https://cdn.glitch.com/8fe88056-95cf-41a7-b264-3253cbb98167%2Fabout.jpg?v=1595066738947"/>
  </div>
</segment>