{{> welcomemenu }}  
    
<section class="ui center aligned middle aligned segment">
  <h2 class="ui blue header">
    {{title}}
  </h2>
</section>
<segment class="ui center aligned middle aligned two column grid segment">
  <div class="column">
    <header class="ui header"> BMI Tracker </header>
    <p> Fill in your assessments week by week and track your BMI.
      Trainers will comment on your progress and encourage your to keep going!</p>
  </div>
  <div class="column">
    <img class="ui image" src="https://cdn.glitch.com/4d764618-36ee-4372-84ad-e72b20213749%2Fabout.jpg?v=1596366688424"/>
  </div>
</section>