{{> welcomemenu id="signup"}}

<form class="ui stacked segment form" action="/register" method="POST">
  <h1 class="ui orange header">
      Register
  </h1>
  <div class="two fields">
    <div class="field">
      <label>First Name</label>
      <input placeholder="First Name" type="text"  name="firstName">
    </div>
    <div class="field">
      <label>Last Name</label>
      <input placeholder="Last Name" type="text"  name="lastName">
    </div>
  </div>
  <div class="field required">
     <label>Email</label> 
      <div class="ui left icon input">
          <i class="mail icon"></i>
          <input placeholder="Email" name="email">
      </div>
  </div>
  <div class="field required">
    <label>Password</label>
      <div class="ui left icon input">
          <i class="lock icon"></i>
          <input type="password"  name="password">
      </div>
  </div>
  <button class="ui blue submit button">Submit</button>
</form>