{{> trainermenu id="trainerassessments"}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
     <div class="ui yellow statistic">
      <div class="value">
        <i class="user icon"></i>
      </div>
      <div class="label">
        {{title}} {{member.fullname}}
      </div>
  </h2>
  {{> analytics}}
  {{#each assessments}}
    {{> assessment-table-comment}}
  {{/each}}
</section>