{{> trainermenu id="trainerassessments"}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{member.name}}
  </h2>
  {{> analytics}}
  {{#each assessments}}
    {{> assessment-table-comment}}
  {{/each}}
</section>